<main>
  <div class="drag-group">
    <fieldset class="fieldset">
      <div class="pd-v-xs"><b class="legend">I LIKE</b></div>
      <div
        #iLike="cdkDropList"
        [cdkDropListConnectedTo]="[iWish, whatIf]"
        cdkDropList
        [cdkDropListData]="ticketsGroupedByStatus[ticketStatus.I_LIKE]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal">
        <mat-card *ngFor="let ticket of ticketsGroupedByStatus[ticketStatus.I_LIKE]" class="drag-box mr-v-xs" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          <p class="mat-body-strong">{{ ticket.title }}</p>
          <mat-card-subtitle>{{ ticket.description }}</mat-card-subtitle>
        </mat-card>
      </div>
    </fieldset>
    <fieldset class="fieldset">
      <div class="pd-v-xs"><b class="legend">I WISH</b></div>
      <div
        #iWish="cdkDropList"
        [cdkDropListConnectedTo]="[iLike, whatIf]"
        cdkDropList
        [cdkDropListData]="ticketsGroupedByStatus[ticketStatus.I_WISH]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal">
        <mat-card *ngFor="let ticket of ticketsGroupedByStatus[ticketStatus.I_WISH]" class="drag-box mr-v-xs" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          <p class="mat-body-strong">{{ ticket.title }}</p>
          <mat-card-subtitle>{{ ticket.description }}</mat-card-subtitle>
        </mat-card>
      </div>
    </fieldset>
    <fieldset class="fieldset">
      <div class="pd-v-xs"><b class="legend">WHAT IF</b></div>
      <div
        #whatIf="cdkDropList"
        [cdkDropListConnectedTo]="[iLike, iWish]"
        cdkDropList
        [cdkDropListData]="ticketsGroupedByStatus[ticketStatus.WHAT_IF]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal">
        <mat-card *ngFor="let ticket of ticketsGroupedByStatus[ticketStatus.WHAT_IF]" class="drag-box mr-v-xs" cdkDrag>
          <div class="drag-placeholder mr-v-xs" *cdkDragPlaceholder></div>
          <p class="mat-body-strong">{{ ticket.title }}</p>
          <mat-card-subtitle>{{ ticket.description }}</mat-card-subtitle>
        </mat-card>
      </div>
    </fieldset>
  </div>
</main>
<router-outlet></router-outlet>
